/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* utilities */
.d-flex {
    display: flex;
}

.align-items-center {
    align-items: center;
}

/* header */
header {
    padding: 1rem 1rem 0 1rem;
    border-bottom: .5px solid gray;
}

header .list li {
    list-style: none;
    color: gray;
    margin-right: 2rem;
    font-weight: 300;
    padding-bottom: 1rem;
    cursor: pointer;
    transition: all .5s ease;
    border-bottom: 2px solid transparent;
}

header .list li:hover, 
header .list li:focus {
    border-bottom: 2px solid blue;
    transform: translate(5px);
    color: blue;
}

.logo-box {
    margin-right: 1rem;
}

.logo-box img {
    width: 70px;
}

.privacy-terms {
    font-size: 1.4rem;
}

.sec-1 {
    margin-bottom: 1rem;
}

/* main */
main {
    padding: 3rem 0 5rem 0;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}

.container h1{
    margin: 2rem 0 1.5rem 0;
    font-weight: 500;
}

.container p {
    font-size: .85rem;
    font-weight: 300;
}